@model StudentCourseCRUDMVC.Models.Course

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">        

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

    </dl>
</div>

